<h1>Basketball Props : Table Setup </h1>
<p>This file contains the following actions:</p>
<p> Load in our required libraries and then connect to our provided database </p>
<p> Create our Tables, after the creation we add some constraints </p>
<p> Create appropriate Triggers for our Tables </p>
<p> Create appropriate Indices for our Tables </p>
<p> Load in external CSV files into Pandas Dataframe Objects </p>
<p> Remove Unneccessary columns and nan values from our Dataframes </p>
<p> Convert each Dataframe to a Dictionary </p>
<p> Insert the values from each Dictionary to the SQL Tables </p>

<h3> Load Extensions </h3>

In [1]:
%load_ext sql
%matplotlib inline

In [2]:
import os
import configparser
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy.sql
import numpy as np

In [3]:
mysqlcfg = configparser.ConfigParser()
mysqlcfg.read("/home/jovyan/CS-3287/mysql.cfg")
dburl = mysqlcfg['mysql']['url']

os.environ['DATABASE_URL'] = dburl  # define this env. var for sqlmagic
eng = create_engine(dburl)
con = eng.connect()

<h3> Create Tables and Indices </h3>
<p> The following tables are created : </p>
<p> Teams - information about NBA teams </p>
<p> Players - information about NBA Player-Seasons </p>
<p> Games - information about NBA games </p>
<p> Games_Details - information about an individual Player's Performance in an individual game </p>
<p> A few things to note here </p>
<p> TEAM_ID is the main primary key throughout this schema, this is neccessary for a few reasons that may not appear evident. PLAYER_ID cannot be a primary key as this table does not represent Players but instead Player-Seasons. A player has multiple seasons and and have multiple teams so a single PLAYER_ID should appear multiple times. Thus a constraint is added for the unique combination of PLAYER_ID, TEAM_ID, Season as a specific player can only be on a specific team once during a given season. Players can have multiple seasons with different teams, or even the same season with different teams, thus the combination of all three being unique is required. </p>
<p></p>
<p> Games_Details is given a constraint on the combination of GAME_ID and PLAYER_ID. This is because there should only be one record of a specific player's performance in each game </p>

In [4]:
%%sql


DROP TABLE IF EXISTS Games_Details;
DROP TABLE IF EXISTS Games;
DROP TABLE IF EXISTS Players;
DROP TABLE IF EXISTS Teams;

CREATE TABLE Teams(
    TEAM_ID INT PRIMARY KEY UNIQUE NOT NULL,
    ABBREVIATION text,
    NICKNAME text,
    CITY text
);

CREATE TABLE Players(
    PLAYER_NAME TEXT,
    TEAM_ID INT REFERENCES Teams(TEAM_ID),
    PLAYER_ID INT NOT NULL,
    SEASON YEAR,
    PRIMARY KEY (PLAYER_ID, SEASON, TEAM_ID)
);

CREATE TABLE Games(
    GAME_DATE_EST DATE,
    GAME_ID INT,
    TEAM_ID_home INT REFERENCES Teams(TEAM_ID),
    SEASON YEAR,
    PTS_home FLOAT,
    FG_PCT_home FLOAT,
    FT_PCT_home FLOAT,
    FG3_PCT_home FLOAT,
    AST_home INT,
    REB_home INT,
    TEAM_ID_away INT REFERENCES Teams(TEAM_ID),
    PTS_AWAY INT,
    FG_PCT_away FLOAT,
    FT_PCT_away FLOAT,
    FG3_PCT_away FLOAT,
    AST_away INT,
    REB_away INT,
    HOME_TEAM_WINS BOOL
);

CREATE TABLE Games_Details(
    GAME_ID INT REFERENCES Games(GAME_ID),
    TEAM_ID INT REFERENCES Teams(TEAM_ID),
    TEAM_ABBREVIATION TEXT,
    TEAM_CITY TEXT,
    PLAYER_ID INT REFERENCES Players(PLAYER_ID),
    PLAYER_NAME text,
    NICKNAME text,
    FGM INT,
    FGA INT,
    FG_PCT FLOAT,
    FG3M INT,
    FG3A INT,
    FG3_PCT FLOAT,
    FTM INT,
    FTA INT,
    FT_PCT FLOAT,
    OREB INT,
    DREB INT,
    REB INT,
    AST INT,
    STL INT,
    BLK INT,
    PF INT,
    PTS INT,
    PRIMARY KEY (GAME_ID, PLAYER_ID)
);

0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

<h3> Creation of Triggers </h3>
<p> This handles the creation of triggers for our tables, specifically the following three triggers : </p>
<p> Delete_Team - this requires deletion from all other tables </p>
<p> Delete_Game - this requires deletion from Games_Details </p>
<p> Delete_Player - this requires deletion from Games_Details </p>
<p> Update_Player_Team_ID - this updates the Games_Details TEAM_ID of a player whose team was changed </p>
<p> Update_Player_Team_City - this updates the Games_Details TEAM_CITY of a player whose team was changed </p>

In [5]:
%%sql

DROP TRIGGER IF EXISTS Delete_Team;
DROP TRIGGER IF EXISTS Delete_Game;
DROP TRIGGER IF EXISTS Delete_Player;
DROP TRIGGER IF EXISTS Update_Player_Team_ID;
DROP TRIGGER IF EXISTS Update_Player_Team_City;

CREATE TRIGGER Delete_Team
    BEFORE DELETE on Teams
        FOR EACH ROW
            BEGIN
                DELETE FROM Games_Details WHERE old.TEAM_ID = Games_Details.TEAM_ID;
                DELETE FROM Games WHERE old.TEAM_ID = Games.TEAM_ID_home;
                DELETE FROM Games WHERE old.TEAM_ID = Games.TEAM_ID_away;
                DELETE FROM Players WHERE old.TEAM_ID = Players.TEAM_ID;
            END;
            
CREATE TRIGGER Delete_Game
    BEFORE DELETE on Games
        FOR EACH ROW
            BEGIN
                DELETE FROM Games_Details WHERE old.GAME_ID = Games_Details.GAME_ID;
            END;
            
CREATE TRIGGER Delete_Player
    BEFORE DELETE ON Players
        FOR EACH ROW
            BEGIN
                DELETE FROM Games_Details WHERE old.Player_ID = Games_Details.Player_ID;
            END;

CREATE TRIGGER Update_Player_Team_ID
    AFTER UPDATE ON Players
    FOR EACH ROW
    BEGIN
            UPDATE Games_Details
                SET Games_Details.TEAM_ID = new.TEAM_ID
                WHERE TEAM_ID = old.TEAM_ID;
    END;
    
CREATE TRIGGER Update_Player_Team_City
    AFTER UPDATE ON Players
    FOR EACH ROW
    BEGIN
            UPDATE Games_Details
                SET Games_Details.TEAM_CITY = (SELECT CITY FROM Teams WHERE TEAM_ID = new.TEAM_ID)
                WHERE TEAM_ID = new.TEAM_ID;
    END;

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

<h3> Creation of Indices </h3>
<p> This is the creation of indices to assist with the most common queries and will be utilized by the queries in the queries notebook</p>
<p> Games_Home_Team_idx is for the home team in a given game </p>
<p> Games_Away_Team_idx is for the away team in a given game </p>
<p> Games_Details_Player_idx is for the player in a given player-game record </p>
<p> Games_Details_Team_idx is for the team in a given player-game record </p>
<p> Games_Details_Game_idx is for the given Game in a player-game record </p>

In [6]:
%%sql

CREATE INDEX Games_Home_Team_idx on Games(TEAM_ID_home);
CREATE INDEX Games_Away_Team_idx on Games(TEAM_ID_away);
CREATE INDEX Games_Details_Player_idx on Games_Details(PLAYER_ID);
CREATE INDEX Games_Details_Team_idx on Games_Details(TEAM_ID);
CREATE INDEX Games_Details_Game_idx on Games_Details(GAME_ID);

 * mysql://jema2714:***@applied-sql.cs.colorado.edu:3306/jema2714
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

<p> This is a simple fix I had to do for pandas </p>

In [7]:
os.chdir('/home/jovyan/DataSystemsFinal')
os.getcwd()

'/home/jovyan/DataSystemsFinal'

<h3> Load in the CSV files into Pandas Dataframes </h3>
<p> This loads in the teams.csv, players.csv, games.csv, and games_df into respective pandas Dataframe objects that we can work with and manipulate to help load the data into our sql tables </p>

In [8]:
teams_df = pd.read_csv('datafiles/teams.csv')
players_df = pd.read_csv('datafiles/players.csv')
games_df = pd.read_csv('datafiles/games.csv')
games_details_df = pd.read_csv('datafiles/games_details.csv')

/opt/conda/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<h3> Data Cleanup </h3>
<p> Here I remove columns that I don't want to reduce the load on sql later on. </p>
<p> I also encountered an issue where MySQL doesn't like missing values with nan but that's what pandas uses </p>
<p> So after trying and failing to convert the values I had to drop nan values in games and games_df </p>

In [9]:
teams_df = teams_df.drop(['LEAGUE_ID', 'MIN_YEAR', 'MAX_YEAR', 'YEARFOUNDED', 'ARENA', 'ARENACAPACITY', 'OWNER', 'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'], axis=1)
games_df = games_df.dropna(axis=0)
games_df = games_df.dropna()
games_df = games_df.where(pd.notnull(games_df), None)
games_details_df = games_details_df.dropna(axis=0)
games_details_df = games_details_df.dropna()
games_details_df = games_details_df.where(pd.notnull(games_details_df), None)

<h3> Converting Dataframes to Dictionary </h3>
<p> To insert records into the sql tables I first need to convert each dataframe to a dictionary </p>

In [10]:
teams_dict = teams_df.to_dict('records')
players_dict = players_df.to_dict('records')
games_dict = games_df.to_dict('records')
games_details_dict = games_details_df.to_dict('records')

<h3> Inserting into SQL Tables from each Dataframe </h3>
<p> Here I iterate through the dictionary and use the sqlalchemy engine to connect to my database and insert each record from my dictionary as a row in each table </p>

In [11]:
for row in teams_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO Teams (TEAM_ID, ABBREVIATION, NICKNAME, CITY)
        VALUES( :TEAM_ID, :ABBREVIATION, :NICKNAME, :CITY) ''' )
    con.execute(cmd, row)

In [12]:
for row in players_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO Players (PLAYER_NAME, TEAM_ID, PLAYER_ID, SEASON)
        VALUES( :PLAYER_NAME, :TEAM_ID, :PLAYER_ID, :SEASON) ''' )
    con.execute(cmd, row)

In [13]:
for row in games_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO Games (GAME_DATE_EST, GAME_ID, SEASON, TEAM_ID_home, PTS_home, FG_PCT_home, FT_PCT_home, FG3_PCT_home, AST_home, REB_home, TEAM_ID_away, PTS_away, FG_PCT_away, FT_PCT_away, FG3_PCT_away, AST_away, REB_away, HOME_TEAM_WINS)
        VALUES( :GAME_DATE_EST, :GAME_ID, :SEASON, :TEAM_ID_home, :PTS_home, :FG_PCT_home, :FT_PCT_home, :FG3_PCT_home, :AST_home, :REB_home, :TEAM_ID_away, :PTS_away, :FG_PCT_away, :FT_PCT_away, :FG3_PCT_away, :AST_away, :REB_away, :HOME_TEAM_WINS) ''' )
    con.execute(cmd, row)

In [14]:
for row in games_details_dict:
    cmd = sqlalchemy.sql.text('''INSERT INTO Games_Details (GAME_ID, TEAM_ID, TEAM_CITY, PLAYER_ID, PLAYER_NAME,
    NICKNAME, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, PF, PTS)
    VALUES( :GAME_ID, :TEAM_ID, :TEAM_CITY, :PLAYER_ID, :PLAYER_NAME,
    :NICKNAME, :FGM, :FGA, :FG_PCT, :FG3M, :FG3A, :FG3_PCT, :FTM, :FTA, :FT_PCT, :OREB, :DREB, :REB, :AST, :STL, :BLK, :PF, :PTS) ''')
    con.execute(cmd, row)